<p><%= flash[:error] %><p>
<li id="sign-out"><%= link_to "Sign Out", logout_path, method: :delete %></li>

<div class="link-form">
  <%= form_for(@link, url: links_path, method: :post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<h3>Links!</h3>
<% @links.each do |link| %>
  <h5><%= link.title %></h5>
  <div>
    <p><%= link_to "#{link.title}", link.url, class: :link %></p>
    <%= button_to "Mark as Read", link_path(link.id, status: "read"), class: :read, method: :patch, remote: true %>
    <%= button_to "Mark as Unread", link_path(link.id, status: "unread"), class: :unread, method: :patch, remote: true %>
  </div>
<% end %>
